@{
    ViewData["Title"] = "St Canice's GAC - Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Only authorised users are allowed to use this service.</p>
<p>Should you require further help please contact the system administrator.</p>

